.DS_Store

# PyCharm custom settings
.idea/

var/temp
*.py[co]
*.vt.dat
*.vt.bak
*.vt.dir

*.con

.vagrant

# Built documentation
docs/build/*


# Packages
*.egg
.eggs/*
*.egg-info
dist
build
eggs

# Vim
*.swp
*.swo


# Vagrant temp folder
.vagrant

# built files
*.so